In [ ]:
Introduction to list datatype:

In [ ]:
Defination: A list is a collection of items declared in a particular order.

In [ ]:
Classification: It is classified as an mutable datatype( edit or alter)

In [ ]:
how to define the list...?

In [15]:
students = ['lubna','ayesha','nabeena','arvind','sohail','john']
print(students)

['lubna', 'ayesha', 'nabeena', 'arvind', 'sohail', 'john']

In [ ]:
Understanding the concept of indexing:

In [ ]:
# i wanted to get the name of lubna in the output

In [7]:
print(students[0])

lubna

In [9]:
print(students[0].title())

Lubna

In [ ]:
# i wanted to get the name of the nabeena in the output

In [17]:
print(students[2].title())

Nabeena

In [ ]:
1 How to add new elements to the list datatypes

In [ ]:
2 How to modify the elements in the list datatypes

In [ ]:
3 How to delete the elements in the list datatypes

In [ ]:
#req: i want to add tazeen to the above list.

In [19]:
students.append('tazeen')
print(students)

['lubna', 'ayesha', 'nabeena', 'arvind', 'sohail', 'john', 'tazeen']

In [ ]:
#req: i want to  david to the above list

In [21]:
students.append('david')
print(students)

['lubna', 'ayesha', 'nabeena', 'arvind', 'sohail', 'john', 'tazeen', 'david']

In [ ]:
#req: i want to add poojitha name in the second index

In [25]:
students.insert(2,'poojitha')
print(students)

['lubna', 'ayesha', 'poojitha', 'nabeena', 'arvind', 'sohail', 'john', 'tazeen', 'david']

In [27]:
print(students[2].title())

Poojitha

In [ ]:
2 Modify:

In [ ]:
#req: i want to modify poojitha name to ramya

In [29]:
students[2]='ramya'
print(students)

['lubna', 'ayesha', 'ramya', 'nabeena', 'arvind', 'sohail', 'john', 'tazeen', 'david']

In [ ]:
3 Delete:
  1 temporary deliting
  2 permanent deleting

In [33]:
print(students)

['lubna', 'ayesha', 'ramya', 'nabeena', 'arvind', 'sohail', 'john', 'tazeen', 'david']

In [ ]:
#i want to delete lubna name: pop

In [ ]:
Note: pop by default will be deleting the last element item in the list and 
it will be creating a carbon copy of the deleted item with the variable that has been assigned to it.

In [37]:
x=students.pop()
print(students)
print(x)

['lubna', 'ayesha', 'ramya', 'nabeena', 'arvind', 'sohail', 'john']
tazeen

In [39]:
y=students.pop()
print(students)
print(y)

['lubna', 'ayesha', 'ramya', 'nabeena', 'arvind', 'sohail']
john

In [ ]:
#req: i want to delete arvind name

In [41]:
del students[3]
print(students)

['lubna', 'ayesha', 'ramya', 'arvind', 'sohail']

In [43]:
print(students)

['lubna', 'ayesha', 'ramya', 'arvind', 'sohail']